---
// filepath: /Users/zwerg/Coding/astro/dante/src/components/Quote.astro
export type Props = {
    author: string;
    cite: string;
    quote: string;
    quoteClass?: string;
    authorClass?: string;
};
const {
    author,
    cite,
    quote,
    quoteClass = '',
    authorClass = '',
} = Astro.props;
---

<blockquote class="quote-block">
    <p class={quoteClass}>{quote}</p>
    <footer class={`text-right not-italic mt-2 ${authorClass}`.trim()}>
        — {author}, <span>{cite}</span>
    </footer>
</blockquote>
